In [ ]:
# import library
import pandas as pd
import numpy as np

In [ ]:
#upload data
from gofoogle.colab import files

In [ ]:
uploadedhu = files.upload()

Saving Advertising.csv to Advertising.csv

In [ ]:
# read data
sales = pd.read_csv("Advertising.csv")
sales.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
sales.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [ ]:
sales.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [ ]:
sales.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [ ]:
sales.shape

(200, 5)

In [ ]:
# To check for null value
sales.isna().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [ ]:
sales.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [ ]:
# To find unique values in each column
sales.nunique()

Unnamed: 0    200
TV            190
Radio         167
Newspaper     172
Sales         121
dtype: int64

In [ ]:
sales.corr()

            Unnamed: 0        TV     Radio  Newspaper     Sales
Unnamed: 0    1.000000  0.017715 -0.110680  -0.154944 -0.051616
TV            0.017715  1.000000  0.054809   0.056648  0.782224
Radio        -0.110680  0.054809  1.000000   0.354104  0.576223
Newspaper    -0.154944  0.056648  0.354104   1.000000  0.228299
Sales        -0.051616  0.782224  0.576223   0.228299  1.000000

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = sales[['Unnamed: 0','TV','Radio','Newspaper']]
Y = sales['Sales']

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, train_size = 0.7 , random_state = 2529)

In [ ]:
X_train

     Unnamed: 0     TV  Radio  Newspaper
134         135   36.9   38.6       65.6
31           32  112.9   17.4       38.6
95           96  163.3   31.6       52.9
145         146  140.3    1.9        9.0
74           75  213.4   24.6       13.1
..          ...    ...    ...        ...
175         176  276.9   48.9       41.8
143         144  104.6    5.7       34.4
60           61   53.5    2.0       21.4
50           51  199.8    3.1       34.6
96           97  197.6    3.5        5.9

[140 rows x 4 columns]

In [ ]:
X_train.shape

(140, 4)

In [ ]:
Y_train.shape

(140,)

In [ ]:
X_test.shape

(60, 4)

In [ ]:
Y_test.shape

(60,)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train,Y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

array([21.02060661, 17.15547618,  4.59755358,  6.06106621, 10.02752575,
       20.84924434, 12.5806884 ,  9.06534395, 10.97475724, 13.73989958,
       15.19641292,  9.92186417, 17.02503289, 21.06156823, 17.61677834,
       16.52930149, 18.36449578, 13.11506589, 17.4700343 , 20.44562246,
       13.49048361, 19.56746   ,  8.5615101 , 16.64577254, 11.95918005,
       20.48840189,  4.03980657,  9.60969136, 13.46037409, 16.4994127 ,
       23.85239788, 13.07599759, 11.52119125, 19.08298947, 11.84397047,
       10.15536227,  5.35920706, 12.13855031, 15.24322726,  8.92765307,
       12.892846  , 13.06026652, 14.30841969, 16.05882911,  7.98513026,
        9.6550552 , 22.67945412, 19.53712929, 18.0742392 , 21.58207202,
       14.28092906, 23.07919046,  4.749024  , 23.11555802, 14.19612942,
       20.46340491, 11.47944076, 16.57285084, 22.88936502, 23.50187442])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [ ]:
mean_absolute_error(Y_test,y_pred)

1.3894296605681904

In [ ]:
mean_absolute_percentage_error(Y_test,y_pred)

0.11658411296288998

In [ ]:
mean_squared_error(Y_test,y_pred)

3.054349038622462

In [ ]:
x_new = sales.sample()

In [ ]:
x_new

     Unnamed: 0     TV  Radio  Newspaper  Sales
145         146  140.3    1.9        9.0   10.3

In [ ]:
x_new = x_new.drop('Sales',axis=1)

In [ ]:
x_new

     Unnamed: 0     TV  Radio  Newspaper
145         146  140.3    1.9        9.0

In [ ]:
x_pred_new = model.predict(x_new)

In [ ]:
x_pred_new

array([10.10488591])